.app-title {
  color: #61dafb; /* React blue color */
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

body {
  background-color: #111;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.todo-list {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 50px #61dafb;
  animation: pulsate-glow 2s infinite;
}

@keyframes pulsate-glow {
  0% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 50px #61dafb;
  }
  50% {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.2), 0 0 60px #61dafb;
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1), 0 0 50px #61dafb;
  }
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #61dafb;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 70%;
}

.submit,
.delete-button,
.clear {
  background-color: #61dafb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover
{
  background-color: #4fa3d1;
}

.delete-button:hover,
.clear:hover 
{
  background-color: #a30505 
}

.submit:active
{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(97, 218, 251, 0.5), 0 0 20px rgba(97, 218, 251, 0.7);
}
.delete-button:active,
.clear:active 
{
  transform: scale(0.95);
  box-shadow: 0 0 10px rgb(254, 0, 0), 0 0 20px rgb(254, 0, 0);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left; /* Align task text to the left */
}

.delete-button {
  background-color: #ff4b4b;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.empty-task {
  color: #ccc;
}

.clear {
  background-color: #ff4b4b;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter {
  color: #61dafb;
  font-size: 1.2em;
  margin-top: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal p {
  margin-bottom: 20px;
}

.confirm,
.cancel {
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.confirm {
  background-color: #61dafb;
  color: #fff;
}

.cancel {
  background-color: #ff4b4b;
  color: #fff;
}